.menu-open {
  display: none;
}

.menu-open-button {
  width: 80px;
  height: 80px;
  background-color: #e1003c;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-bottom: 2rem;
  z-index: 10;
}

.menu-line {
  width: 35px;
  height: 4px;
  background-color: white;
  margin: 6px auto;
  transition: all 0.3s ease;
}

.menu-line-1,
.menu-line-2,
.menu-line-3 {
  position: absolute;
}

.menu-line-1 {
  top: 20px;
}

.menu-line-2 {
  top: 32px;
}

.menu-line-3 {
  bottom: 20px;
}

.menu-open:checked + .menu-open-button .menu-line-1 {
  transform: rotate(45deg);
  top: 32px;
}

.menu-open:checked + .menu-open-button .menu-line-2 {
  opacity: 0;
}

.menu-open:checked + .menu-open-button .menu-line-3 {
  transform: rotate(-45deg);
  bottom: 32px;
}

.menu-item {
  background-color: #e1003c;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  opacity: 0;
  transform: translateY(-600%);
  pointer-events: none;
  transition: opacity 0.3s ease transform 0.3s ease;
}

.menu-open:checked ~ .menu-item {
  opacity: 1;
  transform: translateY(100px);
  pointer-events: auto;
}

.menu-item:hover {
  background-color: white;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: #e1003c;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 80px;
  height: 80px;
  margin-bottom: 1rem;
}

a:last-child {
  margin-bottom: 0;
}

.fa {
  color: white;
  font-size: 30px;
}

.menu-item:hover .fa {
  color: #e1003c;
  font-size: 30px;
}
